:not(pre)>code[class*=language-], pre[class*=language-]{

  background: #282C34;

}
code[class*=language-], pre[class*=language-] {
    color: #ABB2C0;
    text-shadow: 0 0px rgba(255, 255, 255, 0);
}


.token.atrule, .token.attr-value, .token.keyword {
  color: #C774DF;
}



.token.function {
  color: #E6C176;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    color: #a67f59;
    background: hsla(0, 100%, 100%, 0);
}


code {
    color: #00bfa5;
    background: #282C34;
    text-shadow: 0 1px rgba(255, 255, 255, 0);
}
