.sidebar-brand-header{
  color: white;
   font-size: 40px;
}
.sidebar-brand-header:hover{
  text-decoration: none;
}
sidebar-brand-custom:hover{
  text-decoration: none;
}

.sidebar-boxed .sidebar-brand-custom {
    margin-top: -50px;
    margin-bottom: 50px;
    display: block;
    text-align: center;
}
